*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
margin: 5px;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
.card,h2,p,button{
  padding: 5px;
}

img{
  height: 300px;
  aspect-ratio: 1/ 1;
}